<!DOCTYPE html>

<title>FormationType</title>

{% block body %}
    <h1>FormationType</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ formation_type.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ formation_type.name }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ formation_type.createdAt ? formation_type.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ formation_type.updatedAt ? formation_type.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('formation_type_index') }}">back to list</a>

    <a href="{{ path('formation_type_edit', {'id': formation_type.id}) }}">edit</a>

    {{ include('formation_type/_delete_form.html.twig') }}
{% endblock %}
