<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Admin - IT External Services{% endblock %}</title>
    {% block stylesheets %}{% endblock %}

    {% block head_css %}

    {% endblock %}
    {% block head_js %}


    {% endblock %}
</head>
<body>
{% block body %}
    <div class="wrapper">
        <nav id="nav-sidebar" class="sidebar sidebar-sticky d-none d-md-none d-lg-block">
            <div class="sidebar-content ">
                <a class="sidebar-brand"><span class="align-middle">IT External Services</span></a>
                <ul class="sidebar-nav">
                    <li class="sidebar-header">
                        E-commerce
                    </li>

                    <li class="sidebar-item">
                        <a href="#article" data-toggle="collapse" class="sidebar-link collapsed d-flex align-items-center">
                            <i class="material-icons">file_copy</i>
                            <span>Article</span>

                        </a>
                        <ul id="article" class="sidebar-dropdown list-unstyled collapse ">
                            <li class="sidebar-item bg-sidebar-item-blue"><a class="sidebar-link d-flex align-items-center" href="pages-sign-in.html"><i class="material-icons">redo</i> <span>Consulter</span></a></li>
                            <li class="sidebar-item bg-sidebar-item-blue"><a class="sidebar-link d-flex align-items-center" href="pages-sign-in.html"><i class="material-icons">add</i> <span>Ajouter</span></a></li>
                            <li class="sidebar-item bg-sidebar-item-blue"><a class="sidebar-link d-flex align-items-center" href="pages-sign-in.html"><i class="material-icons">remove</i> <span>Supprimer</span></a></li>

                        </ul>
                    </li>
                    <li class="sidebar-item">
                        <a href="#categorie" data-toggle="collapse" class="sidebar-link collapsed d-flex align-items-center">
                            <i class="material-icons">file_copy</i> <span>Catégorie</span>

                        </a>
                        <ul id="categorie" class="sidebar-dropdown list-unstyled collapse ">
                            <li class="sidebar-item bg-sidebar-item-blue"><a class="sidebar-link d-flex align-items-center" href="pages-sign-in.html"><i class="material-icons">redo</i> <span>Consulter</span></a></li>
                            <li class="sidebar-item bg-sidebar-item-blue"><a class="sidebar-link d-flex align-items-center" href="pages-sign-in.html"><i class="material-icons">add</i> <span>Ajouter</span></a></li>
                            <li class="sidebar-item bg-sidebar-item-blue"><a class="sidebar-link d-flex align-items-center" href="pages-sign-in.html"><i class="material-icons">remove</i> <span>Supprimer</span></a></li>

                        </ul>
                    </li>
                    <li class="sidebar-header">
                        Facturation & devis
                    </li>
                    <li class="sidebar-item">
                        <a href="#facture" data-toggle="collapse" class="sidebar-link collapsed d-flex align-items-center">
                            <i class="material-icons">assignment</i> <span>Facture</span>
                        </a>
                        <ul id="facture" class="sidebar-dropdown list-unstyled collapse ">
                            <li class="sidebar-item bg-sidebar-item-green"><a class="sidebar-link d-flex align-items-center" href="pages-sign-in.html"><i class="material-icons">redo</i> <span>Consulter</span></a></li>
                            <li class="sidebar-item bg-sidebar-item-green"><a class="sidebar-link d-flex align-items-center" href="pages-sign-in.html"><i class="material-icons">add</i> <span>Ajouter</span></a></li>
                            <li class="sidebar-item bg-sidebar-item-green"><a class="sidebar-link d-flex align-items-center" href="pages-sign-in.html"><i class="material-icons">remove</i> <span>Supprimer</span></a></li>
                        </ul>
                    </li>
                    <li class="sidebar-item">
                        <a href="#devis" data-toggle="collapse" class="sidebar-link collapsed d-flex align-items-center">
                            <i class="material-icons">assignment</i> <span>Devis</span>
                        </a>
                        <ul id="devis" class="sidebar-dropdown list-unstyled collapse ">
                            <li class="sidebar-item bg-sidebar-item-green"><a class="sidebar-link d-flex align-items-center" href="pages-sign-in.html"><i class="material-icons">redo</i> <span>Consulter</span></a></li>
                            <li class="sidebar-item bg-sidebar-item-green"><a class="sidebar-link d-flex align-items-center" href="pages-sign-in.html"><i class="material-icons">add</i> <span>Ajouter</span></a></li>
                            <li class="sidebar-item bg-sidebar-item-green"><a class="sidebar-link d-flex align-items-center" href="pages-sign-in.html"><i class="material-icons">remove</i> <span>Supprimer</span></a></li>
                        </ul>
                    </li>
                    <li class="sidebar-header">
                        Support
                    </li>
                    <li class="sidebar-item">
                        <a href="#support" data-toggle="collapse" class="sidebar-link collapsed d-flex align-items-center">
                            <i class="material-icons">insert_chart</i> <span>Support</span>
                        </a>
                        <ul id="support" class="sidebar-dropdown list-unstyled collapse ">
                            <li class="sidebar-item bg-sidebar-item-red"><a class="sidebar-link d-flex align-items-center" href="pages-sign-in.html"><i class="material-icons">redo</i> <span>Consulter</span></a></li>
                            <li class="sidebar-item bg-sidebar-item-red"><a class="sidebar-link d-flex align-items-center" href="pages-sign-in.html"><i class="material-icons">add</i> <span>Ajouter</span></a></li>
                            <li class="sidebar-item bg-sidebar-item-red"><a class="sidebar-link d-flex align-items-center" href="pages-sign-in.html"><i class="material-icons">remove</i> <span>Supprimer</span></a></li>
                        </ul>
                    </li>
                    <li class="sidebar-item">
                        <a href="#sujet" data-toggle="collapse" class="sidebar-link collapsed d-flex align-items-center">
                            <i class="material-icons">insert_chart</i> <span>Sujet</span>
                        </a>
                        <ul id="sujet" class="sidebar-dropdown list-unstyled collapse ">
                            <li class="sidebar-item bg-sidebar-item-red"><a class="sidebar-link d-flex align-items-center" href="pages-sign-in.html"><i class="material-icons">redo</i> <span>Consulter</span></a></li>
                            <li class="sidebar-item bg-sidebar-item-red"><a class="sidebar-link d-flex align-items-center" href="pages-sign-in.html"><i class="material-icons">add</i> <span>Ajouter</span></a></li>
                            <li class="sidebar-item bg-sidebar-item-red"><a class="sidebar-link d-flex align-items-center" href="pages-sign-in.html"><i class="material-icons">remove</i> <span>Supprimer</span></a></li>
                        </ul>
                    </li>
                    <li class="sidebar-header">
                        Messagerie
                    </li>
                    <li class="sidebar-item">
                        <a href="#contact" data-toggle="collapse" class="sidebar-link collapsed d-flex align-items-center">
                            <i class="material-icons">mail</i> <span>Messages</span>
                        </a>
                        <ul id="contact" class="sidebar-dropdown list-unstyled collapse ">
                            <li class="sidebar-item bg-sidebar-item-yello"><a class="sidebar-link d-flex align-items-center" href="pages-sign-in.html"><i class="material-icons">redo</i> <span>Consulter</span></a></li>
                            <li class="sidebar-item bg-sidebar-item-yello"><a class="sidebar-link d-flex align-items-center" href="pages-sign-in.html"><i class="material-icons">add</i> <span>Envoyer</span></a></li>
                            <li class="sidebar-item bg-sidebar-item-yello"><a class="sidebar-link d-flex align-items-center" href="pages-sign-in.html"><i class="material-icons">remove</i> <span>Supprimer</span></a></li>
                        </ul>
                    </li>
                    <li class="sidebar-header">
                        Utilisateur
                    </li>
                    <li class="sidebar-item">
                        <a href="#utilisateur" data-toggle="collapse" class="sidebar-link collapsed d-flex align-items-center">
                            <i class="material-icons">supervised_user_circle</i> <span>Utilisateur</span>
                        </a>
                        <ul id="utilisateur" class="sidebar-dropdown list-unstyled collapse ">
                            <li class="sidebar-item bg-sidebar-item-orange"><a class="sidebar-link d-flex align-items-center" href="pages-sign-in.html"><i class="material-icons">redo</i> <span>Consulter</span></a></li>
                            <li class="sidebar-item bg-sidebar-item-orange"><a class="sidebar-link d-flex align-items-center" href="pages-sign-in.html"><i class="material-icons">add</i> <span>Ajouter</span></a></li>
                            <li class="sidebar-item bg-sidebar-item-orange"><a class="sidebar-link d-flex align-items-center" href="pages-sign-in.html"><i class="material-icons">remove</i> <span>Supprimer</span></a></li>
                        </ul>
                    </li>
                    <li class="sidebar-item">
                        <a href="#entreprise" data-toggle="collapse" class="sidebar-link collapsed d-flex align-items-center">
                            <i class="material-icons">supervised_user_circle</i> <span>Entreprise</span>
                        </a>
                        <ul id="entreprise" class="sidebar-dropdown list-unstyled collapse ">
                            <li class="sidebar-item bg-sidebar-item-orange"><a class="sidebar-link d-flex align-items-center" href="pages-sign-in.html"><i class="material-icons">redo</i> <span>Consulter</span></a></li>
                            <li class="sidebar-item bg-sidebar-item-orange"><a class="sidebar-link d-flex align-items-center" href="pages-sign-in.html"><i class="material-icons">add</i> <span>Ajouter</span></a></li>
                            <li class="sidebar-item bg-sidebar-item-orange"><a class="sidebar-link d-flex align-items-center" href="pages-sign-in.html"><i class="material-icons">remove</i> <span>Supprimer</span></a></li>
                        </ul>
                    </li>
                </ul>
                <div class="sidebar-bottom d-none d-lg-block"></div>
            </div>

        </nav>
        <div class="main">
            {% include 'backend/header/header.html.twig' %}
            {% block content %}{% endblock %}
        </div>

    </div>
    {% include 'backend/footer/footer.html.twig' %}

{% endblock %}

{% block javascripts %}


{% endblock %}


</body>
</html>