<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div>
                <h6>Protection des données</h6>
                <br>
                Vos données sont conservées de façon sécurisée et uniquement traitées à des fins organisationnelles dans le cadre de l'événement "La Marlagne".<br>
                En application du Règlement du 27 avril 2016 et du règlement RGPD entré en vigueur en mai 2018, vous disposez sur ces données de droits d’accès, de rectification, d’effacement et de limitation.<br> Vous pouvez en outre vous opposer à tout moment au traitement de vos données.<br><br>

                Vous pourrez faire valoir ces droits en contactant notre organisme ou à défaut le DPO :<br>
                dpd@croix-rouge.be<br>
                Rue de Stalle 96<br>
                1080 Uccle<br>
                +32 81 56 42 26<br>
                et en justifiant de votre identité.<br><br>

                Engagement de la Croix-Rouge de Belgique relatif à <a href="https://www.croix-rouge.be/donnees-personnelles/">la protection des données</a>.
            </div>
        </div>
    </div>
</footer>

<div class="copyright py-4 text-center text-white">
    <div class="container">
        <small>&copy; Croix-Rouge 2019 - Gillian Delvigne</small>
    </div>
</div>