{%  extends "frontend/base.html.twig" %}
{% block body %}

    <form name="Participant" id="Participant" action="{{ path('validationForm') }}" method="post">

        <!-- Section Programme -->

        <section id="programme" style="background:#fff;">

            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Programme</h1>
                        <hr>
                        <br>
                        <br>
                        <p><b>Retrouvez toutes les informations relatives au Stage dans le programme :</b></p>
                        <br>
                        <a href="img/programme.pdf" target="_blank"><img src="img/programme.png" alt="Programme Marlagne 2019" width="150px" height="200px"></a>
                        <br>
                        <br>
                        <br>
                        <br>

                    </div>
                </div>
            </div>

        </section>
        <!-- Section Identification -->
        <section id="identification" style="background:#fff;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Identification</h1>
                        <hr>

                        <h4>identification personnelle</h4>
                        <br>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12">
                                <label class="col-xs-6 col-sm-3" for="LastName">Nom <span class="asterisque">*</span></label>
                                <input class="form-group col-xs-6 col-sm-5" required id="LastName"
                                       name="Nom" type="text" value="" pattern="[a-zA-Z]{1,100}">
                            </div>

                            <div class="col-xs-12 col-sm-12">
                                <label class="col-xs-6 col-sm-3" for="FirstName">Prénom <span class="asterisque">*</span></label>
                                <input class="form-group col-xs-6 col-sm-5" required
                                       id="FirstName" name="Prénom" type="text" value="" pattern="[a-zA-Z]{1,100}">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-12">
                                <label class="col-xs-6 col-sm-3" for="Birthday">Date de naissance <span
                                            class="asterisque">*</span></label>
                                <input class="form-group col-xs-6 col-sm-5" required id="birthday"
                                       name="Date de naissance" type="text" value="" placeholder="JJ/MM/AAAA" pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}">
                            </div>

                            <div class="col-xs-12 col-sm-12">
                                <label class="form-group col-xs-12 col-sm-3">Genre <span class="asterisque">*</span></label>
                                <div class="radio-inline col-md-2"><input checked="checked" id="Masculin" name="Genre" type="radio"
                                                                          value="H"><label class="form-group col-xs-12 col-sm-3" for="Masculin">Masculin</label>
                                </div>
                                <div class="radio-inline col-md-2"><input id="Feminin" name="Genre" type="radio" value="F">
                                    <label class="form-group col-xs-12 col-sm-3" for="Feminin">Féminin</label>
                                </div>
                                <div class="radio-inline col-md-2"><input id="Autre" name="Genre" type="radio" value="A">
                                    <label class="form-group col-xs-12 col-sm-3" for="Autre">Autre</label>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-xs-12 col-sm-12">
                                <label class="col-xs-6 col-sm-3" for="PhoneNum">Tel ou Gsm <span class="asterisque">*</span></label>
                                <input class="form-group col-xs-6 col-sm-5" required
                                       id="PhoneNum" name="Tel" type="text" value="">
                            </div>
                            <div class="col-xs-12 col-sm-12">
                                <label class="col-xs-6 col-sm-3" for="email">Email <span class="asterisque">*</span></label>
                                <input class="form-group col-xs-6 col-sm-5" required id="email"
                                       name="Email" type="text" value="">
                            </div>
                        </div>

                        <br>

                        <h4>données croix-rouge</h4>
                        <br>
                        <div class="row">
                            <label class="form-group col-sm-12" for="ContractType">Je suis</label>
                        </div>
                        <div class="row">
                            <div class="radio-inline col-md-3">
                                <input checked="checked" id="volontaire" name="Statut" type="radio"
                                       value="volontaire" onclick="HideMatricule()">
                                <label for="volontaire">Volontaire</label>
                            </div>
                            <div class="radio-inline col-md-9" id="matricule">
                                Mon n° de matricule : <input type="text" size="20" name="Matricule" placeholder="&nbsp;&nbsp;20180103F067053" pattern="[0-0]{8}[M]">
                            </div>
                        </div>
                        <div class="row">
                            <div class="radio-inline col-md-6">
                                <input id="salarie" name="Statut" type="radio" value="salarie" onclick="HideMatricule()">
                                <label for="salarie">Salarié(e)</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="radio-inline col-md-6">
                                <input id="animateur" name="Statut" type="radio" value="animateur" onclick="HideMatricule()">
                                <label for="animateur">Animateur Relais BEPS</label>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <label class="form-group col-xs-12 col-sm-5 col-md-3 col-lg-3 label-entity" for="TypeEntityId">Votre entité générale&nbsp;:</label>
                    <select class="form-group col-xs-6 col-sm-5" onchange="DisplayEntiteL(event)"
                            id="TypeEntityId" name="Entité Générale">
                        <option class="option-arrow" value="" disabled selected>Sélectionnez votre entité générale</option>
                        <option value="1">Départements &amp; Services centraux</option>
                        <option value="2">Secours (Wallonie)</option>
                        <option value="3">Secours (Bruxelles) </option>
                        <option value="4">Comité Provincial</option>
                        <option value="5">Relais</option>
                        <option value="6">SISU</option>
                        <option value="7">Centre ADA</option>
                        <option value="8">Réseau : Maison Croix-Rouge / Section Locale &amp; LokalSection</option>
                    </select>
                </div>
                <br>
                <div class="row">
                    <label class="form-group form-group col-xs-12 col-sm-5 col-md-3 col-lg-3 label-entity" for="EntityId">Votre entité locale&nbsp;:</label>
                    <select class="form-group col-xs-6 col-sm-5" id="EntityId" name="Entité Locale">
                        <option value="" disabled selected>Sélectionnez votre entité locale</option>
                    </select>

                </div>
            </div>
        </section>
        <br>
        <br>
        <!-- Section Formation -->
        <section id="formation">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <br>
                        <br>
                        <h1>Formations</h1>
                        <hr style="border-color:#fff">
                    </div>
                </div>
                <br />

                {% set cpt = 1 %}
                {% for formationType in formationTypes %}
                <div class="row formation-list">
                    <div class="col-lg-12">
                        <h4>{{ formationType.name }}</h4>

                        <div class="show-hide btn btn-danger btn-md btn-flat m-b-10 m-l-5" id="show-hide{{ cpt }}" onclick="toggleTable{{ cpt }}()">afficher</div>
                        <table class="table">
                                <tbody class="table_body" id="table_body{{ cpt }}">
                                    {% for formation in formations %}
                                        {% if formationType.name == formation.formationType.name %}
                                            <tr>
                                                <td class="col-lg-6 column1"><label for="formation{{ formation.id }}">{{ formation.name }}</label></td>
                                                <td class="col-lg-4 column2">{{ formation.description }}</td>
                                                <td class="col-lg-2 column3"><input id="formation{{ formation.id }}" name="Formations[]" value="{{ formation.id }}" type="checkbox"></td>
                                            </tr>
                                        {% endif %}

                                    {% endfor %}
                                </tbody>
                        </table>
                    </div>
                </div>
                <br />
                    {% set cpt = cpt + 1 %}
                 {% endfor %}
            </div>
        </section>
        <section id="catering">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Présence, logement et repas</h1>
                        <hr>
                        Veuillez cocher les cases des journées auxquelles vous serez présent.e au stage, soit : <br />
                        1/ La <b>case principale</b> dans l'en-tête rouge. <br />
                        2/ Le cas échéant, les cases secondaires (Dîner, Souper, Logement). <br />
                    </div>
                </div>
                <br />
                <br />
                <div onclick='selectAll()' value="" class="show-hide btn btn-danger btn-md btn-flat m-b-10 m-l-5" id="select_All">tout cocher</div>
                <div onclick='unselectAll()' value="" class="show-hide btn btn-danger btn-md btn-flat m-b-10 m-l-5" id="select_All">tout décocher</div>
                <br />
                <div class="row">
                    {% set trans_day_hash = {
                        "Monday": "Lundi",
                        "Tuesday": "Mardi",
                        "Wednesday": "Mercredi",
                        "Thursday": "Jeudi",
                        "Friday": "Vendredi",
                        "Saturday": "Samedi",
                        "Sunday": "Dimanche"
                    }
                    %}
                    {% set cpt = 1 %}
                    {% for calendar in calendars %}

                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="card">
                            <label for="date1"><div class="card-media"><input type="checkbox" id="date{{ cpt }}" class="date presence" name="Dates">&nbsp; &nbsp;{{ trans_day_hash[calendar.date|date('l')] }} {{ calendar.date|date('d/m') }}</div></label>
                            <div class="card-details">

                                <input type="checkbox" class="presence" name="calendar[]" value="{{calendar.id }} dinner">
                                <label for="Dîner1">&nbsp; &nbsp;Dîner</label><br>
                                <input type="checkbox" class="presence" name="calendar[]" value="{{calendar.id}} supper">
                                <label for="Souper">&nbsp; &nbsp;Souper</label><br>
                                <input type="checkbox" class="presence" name="calendar[]" value="{{calendar.id}} logement">
                                <label for="Logement">&nbsp; &nbsp;Logement</label><br>
                            </div>
                        </div>
                    </div>
                        {% set cpt = cpt + 1 %}
                    {% endfor %}

                    <div class="container" id="final_options">
                        <div class="col-lg-12">
                            1/ Je souhaite participer au <b>barbecue</b> le 03/08&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;
                            <div class="radio-inline"><input checked="checked" name="Barbecue" type="radio"value="Oui">&nbsp;&nbsp;Oui</div>&nbsp;&nbsp;
                            <div class="radio-inline"><input name="Barbecue" type="radio" value="Non">&nbsp;&nbsp;Non</div>
                        </div>
                        <br />
                        <div class="col-md-12">
                            2/ Je serai accompagné.e de&nbsp;
                            <input id="Accompagnants" class="control-label" name="Accompagnants" type="text" pattern="[0-9]{0,2}">
                            personne(s).<br>
                            <span class="remarque">Remarque : le prix de 15 euros est à payer pour les personnes qui ne participent pas à une formation de minimum 2 jours.</span>
                        </div>
                        <br />
                        <div class="col-lg-12">
                            3/ Régime alimentaire&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;
                            <div class="radio-inline"><input checked="checked" name="Régime alimentaire[]" type="radio" value="Classique">&nbsp;&nbsp;Classique</div>&nbsp;&nbsp;
                            <div class="radio-inline"><input name="Régime alimentaire[]" type="radio" value="Végatarien (avec poisson)">&nbsp;&nbsp;Végatarien (avec poisson)</div>&nbsp;&nbsp;
                            <div class="radio-inline"><input name="Régime alimentaire[]" type="radio" value="Végatarien (sans poisson)">&nbsp;&nbsp;Végatarien (sans poisson)</div><br />
                            <span class="remarque">Attention : votre choix de repas est contraignant pour tous les repas, pour toute la durée du stage, y compris le barbecue.</span>
                        </div>
                        <br />
                        <div class="col-md-12">
                            <label for="allergies">4/ Allergies ?</label><br>
                            <textarea id="allergies" name="Allergies" rows="5" cols="70"></textarea>
                        </div>
                        <br />
                        <div class="col-md-12">
                            5/ Navettes<br><br>
                            <p>Des navettes sont organisées entre la gare de Namur et le Stage de formation des volontaires (à la Marlagne, Wépion).<br>
                                Merci de :<br>
                                - Nous envoyer un mail 5 jours à l'avance afin de réserver votre trajet.<br>
                                - De confirmer votre demande la veille, par SMS au 0492/23 92 54.<br></p>
                        </div>
                        <br />
                        <div class="col-md-12">
                            6/ 40 ans de stage<br><br>
                            <label for="Suggestions">Cette année, on fête les 40  ans de la Marlagne, as-tu une idée d’activité que tu souhaiterais qu’on mette en place ?<br> Ou as-tu une anecdote à nous faire remonter ?</label><br>
                            <textarea id="Suggestions" name="Suggestions" rows="5" cols="70"></textarea>
                        </div>
                    </div>
                </div>
        </section>
        <br><br>
        <!-- Section Accord -->

        <section id="engagement">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div>
                            <div class="form-group col-md-12">
                                <h1><b>Engagement</b></h1>
                                <hr>
                                <br>
                                <p>En remplissant ce formulaire d’inscription, je m’engage :</p>
                                <ul>
                                    <li>à participer à la formation à laquelle je me suis inscrit.e,</li>
                                    <li>le cas échéant, à participer à l’épreuve d’évaluation,</li>
                                    <li><a href="https://www.croix-rouge.be/a-propos/nos-principes/" target="_blank">à respecter la charte d’engagement du volontaire,</a></li>
                                    <li>à respecter les règles de vie de groupe applicables à la Marlagne.</li>
                                </ul>
                                <p>Je certifie être en bonne santé et apte physiquement par rapport aux exigences de la formation à laquelle je suis inscrit.e (si vous avez des questions à ce sujet, contactez votre référent.e). </p>
                                <p>Je m’engage, en cas de force majeure, à prévenir, au plus vite, la coordination du Stage Formation de mon incapacité à suivre la formation à laquelle je suis inscrit.e et à lui fournir un justificatif, sous peine de me voir refuser ultérieurement l’accès aux autres formations.</p>
                            </div>

                            <div class="form-group col-md-12">
                                <input id="agreementCB" type="checkbox" name="agreement" value="true" onclick="EnableButton()">&nbsp;&nbsp;<span id="approved">Lu et approuvé</span>
                            </div>
                            <br>
                            <br>
                            <div class="form-group col-md-4">
                                <button id="submitButton" type="submit" class="btn btn-lg btn-primary btn-block disabled">S'inscrire</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </form>
{% endblock %}