{%  extends "backend/base.html.twig" %}
{% block head_css %}{{ encore_entry_link_tags('admin') }}{% endblock %}
{% block javascripts %}{{ encore_entry_script_tags('adminCalendarIndex') }}{% endblock %}
{% block content %}
    <main class="content">
        <div class="row">
            <div class="col-12 col-lg-12">
                <div class="card flex-fill">
                    <div class="card-header ">
                        <div class="card-actions float-right">
                            <div class="dropdown">
                                <a href="#" data-toggle="dropdown" data-display="static" aria-expanded="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal align-middle">
                                        <circle cx="12" cy="12" r="1"></circle>
                                        <circle cx="19" cy="12" r="1"></circle>
                                        <circle cx="5" cy="12" r="1"></circle>
                                    </svg>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </div>
                        <h5 class="card-title mb-0">{% trans %}Users list{% endtrans %}</h5>
                    </div>
                    <div class="card-body">

                        <div id="datatables-dashboard_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer ">
                            <div class="row">
                                <div class="col-sm-12 col-md-6"></div>
                                <div class="col-sm-12 col-md-6"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="datatables-dashboard" class="table table-striped my-0 dataTable no-footer">
                                        <thead>
                                        <tr>
                                            <th>id</th>
                                            <th>Date</th>
                                            <th>Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for calendar in calendars %}
                                            <tr>
                                                <th>{{ calendar.id }}</th>
                                                <td>{{ calendar.date|date('d-m-Y')}}</td>
                                                <td>
                                                    <a href="{{ path('admin_calendar_show', {'id': calendar.id}) }}">
                                                        <i class="material-icons text-info">
                                                            redo
                                                        </i>
                                                    </a>
                                                    <a href="{{ path('admin_calendar_edit', {'id': calendar.id}) }}">
                                                        <i class="material-icons text-success">
                                                            create
                                                        </i>
                                                    </a>
                                                    <a href="{{ path('admin_calendar_delete', {'id': calendar.id}) }}">
                                                        <i class="material-icons text-danger">
                                                            delete_sweep
                                                        </i>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td>no records found</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
