{% extends "backend/base.html.twig" %}
{% block head_css %} {{ encore_entry_link_tags('admin') }} {% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('adminCalendarNew') }}
{% endblock %}
{% block content %}
    <main class="content">
        <h1 class="h3 mb-3">Settings</h1>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-actions float-right">
                            <div class="dropdown show">
                                <a href="#" data-toggle="dropdown" data-display="static">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal align-middle">
                                        <circle cx="12" cy="12" r="1"></circle>
                                        <circle cx="19" cy="12" r="1"></circle>
                                        <circle cx="5" cy="12" r="1"></circle>
                                    </svg>
                                </a>

                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#AvatarModal">Cropper</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </div>
                        <h5 class="card-title mb-0">{% trans %}New date{% endtrans %}</h5>
                    </div>
                    <div class="card-body">
                        {{ form_start(form, {'attr': {novalidate:'novalidate','class':'needs-validation','id': 'CalendarForm'},'action': path('admin_calendar_new'), 'method': 'POST'}) }}
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                {{ form_label(form.date, 'Date'|trans, {'label_attr': {'class': 'col-form-label col-form-label-sm'}}) }}
                                {{ form_widget(form.date,{'attr':{'class': 'form-control form-control-sm'}}) }}
                                <div class="valid-feedback">
                                    {% trans %}Valid field{% endtrans %}
                                </div>
                                <div class="invalid-feedback">
                                    {{ form_errors(form.date)}} {{ form_errors(form.date)?'':'Please provide a valid date'|trans }}
                                </div>
                            </div>

                        </div>
                        <div class="form-row pt-3">
                            {{ form_widget(form.submit, { 'label': 'Save Changes'|trans,'attr':{'class': 'btn btn-sm btn-primary col-12'} }) }}
                        </div>
                        {{ form_end(form) }}

                    </div>
                </div>

            </div>
        </div>

    </main>

{% endblock %}
