{%  extends "backend/base.html.twig" %}
{% block head_css %}{{ encore_entry_link_tags('admin') }}{% endblock %}
{% block javascripts %}{{ encore_entry_script_tags('admin') }}{% endblock %}
{% block content %}
    <main class="content">
        <div class="container-fluid p-0">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-3 d-flex">
                    <div class="card flex-fill">
                        <div class="card-body py-4">
                            <div class="media">
                                <div class="d-inline-block mt-2 mr-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart feather-lg text-primary"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>
                                </div>
                                <div class="media-body">
                                    <h3 class="mb-2">2.562</h3>
                                    <div class="mb-0">Sales Today</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 d-flex">
                    <div class="card flex-fill">
                        <div class="card-body py-4">
                            <div class="media">
                                <div class="d-inline-block mt-2 mr-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity feather-lg text-warning"><polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline></svg>
                                </div>
                                <div class="media-body">
                                    <h3 class="mb-2">17.212</h3>
                                    <div class="mb-0">Visitors Today</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 d-flex">
                    <div class="card flex-fill">
                        <div class="card-body py-4">
                            <div class="media">
                                <div class="d-inline-block mt-2 mr-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-dollar-sign feather-lg text-success"><line x1="12" y1="1" x2="12" y2="23"></line><path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path></svg>
                                </div>
                                <div class="media-body">
                                    <h3 class="mb-2">$ 24.300</h3>
                                    <div class="mb-0">Total Earnings</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 d-flex">
                    <div class="card flex-fill">
                        <div class="card-body py-4">
                            <div class="media">
                                <div class="d-inline-block mt-2 mr-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-bag feather-lg text-danger"><path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path><line x1="3" y1="6" x2="21" y2="6"></line><path d="M16 10a4 4 0 0 1-8 0"></path></svg>
                                </div>
                                <div class="media-body">
                                    <h3 class="mb-2">43</h3>
                                    <div class="mb-0">Pending Orders</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 d-none d-xxl-flex">
                    <div class="card flex-fill">
                        <div class="card-body py-4">
                            <div class="media">
                                <div class="d-inline-block mt-2 mr-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-dollar-sign feather-lg text-info"><line x1="12" y1="1" x2="12" y2="23"></line><path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path></svg>
                                </div>
                                <div class="media-body">
                                    <h3 class="mb-2">$ 18.700</h3>
                                    <div class="mb-0">Total Revenue</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="card border-0">
                        <div class="card flex-fill">
                            <div class="card-header">
                                <div class="card-actions float-right">
                                    <div class="dropdown">
                                        <a href="#" data-toggle="dropdown" data-display="static" aria-expanded="false">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal align-middle">
                                                <circle cx="12" cy="12" r="1"></circle>
                                                <circle cx="19" cy="12" r="1"></circle>
                                                <circle cx="5" cy="12" r="1"></circle>
                                            </svg>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <h5 class="card-title mb-0">Latest Projects</h5>
                            </div>
                            <div class="card-body">
                                <canvas id="line-chart" width="800" height="450"></canvas>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="card flex-fill">
                        <div class="card-header ">
                            <div class="card-actions float-right">
                                <div class="dropdown">
                                    <a href="#" data-toggle="dropdown" data-display="static" aria-expanded="false">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal align-middle">
                                            <circle cx="12" cy="12" r="1"></circle>
                                            <circle cx="19" cy="12" r="1"></circle>
                                            <circle cx="5" cy="12" r="1"></circle>
                                        </svg>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </div>
                            <h5 class="card-title mb-0">Latest Projects</h5>
                        </div>
                        <div class="calendar"></div>
                    </div>
                </div>
            </div>


        </div>
        <div class="row">
            <div class="col-12 col-lg-12">
                <div class="card flex-fill">
                    <div class="card-header ">
                        <div class="card-actions float-right">
                            <div class="dropdown">
                                <a href="#" data-toggle="dropdown" data-display="static" aria-expanded="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal align-middle">
                                        <circle cx="12" cy="12" r="1"></circle>
                                        <circle cx="19" cy="12" r="1"></circle>
                                        <circle cx="5" cy="12" r="1"></circle>
                                    </svg>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </div>
                        <h5 class="card-title mb-0">Latest Projects</h5>
                    </div>
                    <div class="card-body">

                        <div id="datatables-dashboard_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer ">
                            <div class="row">
                                <div class="col-sm-12 col-md-6"></div>
                                <div class="col-sm-12 col-md-6"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="datatables-dashboard" class="table table-striped my-0 dataTable no-footer">
                                        <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                            <th>Status</th>
                                            <th>Assignee</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Project Apollo</td>
                                            <td>01/01/2018</td>
                                            <td>31/06/2018</td>
                                            <td><span class="badge badge-success">Done</span></td>
                                            <td>Carl Jenkins</td>
                                        </tr>
                                        <tr>
                                            <td>Project Fireball</td>
                                            <td>01/01/2018</td>
                                            <td>31/06/2018</td>
                                            <td><span class="badge badge-danger">Cancelled</span></td>
                                            <td>Bertha Martin</td>
                                        </tr>
                                        <tr>
                                            <td>Project Hades</td>
                                            <td>01/01/2018</td>
                                            <td>31/06/2018</td>
                                            <td><span class="badge badge-success">Done</span></td>
                                            <td>Stacie Hall</td>
                                        </tr>
                                        <tr>
                                            <td>Project Nitro</td>
                                            <td>01/01/2018</td>
                                            <td>31/06/2018</td>
                                            <td><span class="badge badge-warning">In progress</span></td>
                                            <td>Carl Jenkins</td>
                                        </tr>
                                        <tr>
                                            <td>Project Phoenix</td>
                                            <td>01/01/2018</td>
                                            <td>31/06/2018</td>
                                            <td><span class="badge badge-success">Done</span></td>
                                            <td>Bertha Martin</td>
                                        </tr>
                                        <tr>
                                            <td>Project Romeo</td>
                                            <td>01/01/2018</td>
                                            <td>31/06/2018</td>
                                            <td><span class="badge badge-success">Done</span></td>
                                            <td>Ashley Briggs</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}
