// assets/css/admin.scss

// customize some Bootstrap variables
$body-bg:#f5f9fc69;;
$primary: darken(#428bca, 20%);
$theme-colors: (
        "primary": #2e3e4e,
        "danger": #ff4136
);
$card-cap-bg: #ffff;
$card-spacer-y: 1rem !default;
$card-spacer-x:1.25rem !default;
$font-family-sans-serif: Open Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;
$form-feedback-icon-valid : none;
$form-feedback-icon-invalid : none;
.overflow-hidden {
  overflow: hidden !important;
}
.rounded-1{
  border-radius: 1.35rem !important;
}
#uploadAvatar{
  filter: grayscale(100%);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
#UploadAvatarIcon,#uploadAvatar{
  cursor: pointer;
}
#uploadAvatar:hover{
  filter: grayscale(10%);

}
#bodyImageAvatar {
  max-width: 100px;
  margin: auto;
}
// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import "~toastr/toastr.scss";