<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Admin - marlagne{% endblock %}</title>
    {% block stylesheets %}{% endblock %}

    {% block head_css %}{% endblock %}
    {% block head_js %}{% endblock %}
</head>
<body>

{% block body %}
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    <div class="wrapper">
        <nav id="nav-sidebar" class="sidebar sidebar-sticky d-none d-md-none d-lg-block">
            <div class="sidebar-content ">
                <a class="sidebar-brand"><span class="align-middle"><img src="{{ asset('logo/croixRougeLogo.svg') }}" class="img-fluid" alt="logo ites"></span></a>
                <ul class="sidebar-nav">
                    <li class="sidebar-header">
                        Utilisateur
                    </li>
                    <li class="sidebar-item">
                        <a href="#utilisateur" data-toggle="collapse" class="sidebar-link collapsed d-flex align-items-center">
                            <i class="material-icons">supervised_user_circle</i> <span>{% trans %}User{% endtrans %}</span>
                        </a>
                        <ul id="utilisateur" class="sidebar-dropdown list-unstyled collapse ">
                            <li class="sidebar-item bg-sidebar-item-orange"><a class="sidebar-link d-flex align-items-center" href="{{ path('admin_user_index') }}"><i class="material-icons">redo</i> <span>{% trans %}View{% endtrans %}</span></a></li>
                            <li class="sidebar-item bg-sidebar-item-orange"><a class="sidebar-link d-flex align-items-center" href="{{ path('admin_user_new') }}"><i class="material-icons">add</i> <span>{% trans %}Add{% endtrans %}</span></a></li>
                        </ul>
                    </li>
                    <li class="sidebar-header">
                        Réservation
                    </li>
                    <li class="sidebar-item">
                        <a href="#article" data-toggle="collapse" class="sidebar-link collapsed d-flex align-items-center">
                            <i class="material-icons">file_copy</i>
                            <span>Calendrier</span>
                        </a>
                        <ul id="article" class="sidebar-dropdown list-unstyled collapse ">
                            <li class="sidebar-item bg-sidebar-item-blue"><a class="sidebar-link d-flex align-items-center" href="{{ path('admin_calendar_index') }}"><i class="material-icons">redo</i> <span>{% trans %}View{% endtrans %}</span></a></li>
                            <li class="sidebar-item bg-sidebar-item-blue"><a class="sidebar-link d-flex align-items-center" href="{{ path('admin_calendar_new') }}"><i class="material-icons">add</i> <span>{% trans %}Add{% endtrans %}</span></a></li>
                        </ul>
                    </li>

                    <li class="sidebar-header">
                        Formations & Entités
                    </li>
                    <li class="sidebar-item">
                        <a href="#formation" data-toggle="collapse" class="sidebar-link collapsed d-flex align-items-center">
                            <i class="material-icons">assignment</i> <span>Formations</span>
                        </a>
                        <ul id="formation" class="sidebar-dropdown list-unstyled collapse ">
                            <li class="sidebar-item bg-sidebar-item-green"><a class="sidebar-link d-flex align-items-center" href="{{ path('admin_formation_index') }}"><i class="material-icons">redo</i> <span>{% trans %}View{% endtrans %}</span></a></li>
                            <li class="sidebar-item bg-sidebar-item-green"><a class="sidebar-link d-flex align-items-center" href="{{ path('admin_formation_new') }}"><i class="material-icons">add</i> <span>{% trans %}Add{% endtrans %}</span></a></li>
                        </ul>
                    </li>
                    <li class="sidebar-item">
                        <a href="#formationType" data-toggle="collapse" class="sidebar-link collapsed d-flex align-items-center">
                            <i class="material-icons">assignment</i> <span>Type de formation</span>
                        </a>
                        <ul id="formationType" class="sidebar-dropdown list-unstyled collapse ">
                            <li class="sidebar-item bg-sidebar-item-green"><a class="sidebar-link d-flex align-items-center" href="{{ path('admin_formation_type_index') }}"><i class="material-icons">redo</i> <span>{% trans %}View{% endtrans %}</span></a></li>
                            <li class="sidebar-item bg-sidebar-item-green"><a class="sidebar-link d-flex align-items-center" href="{{ path('admin_formation_type_new') }}"><i class="material-icons">add</i> <span>{% trans %}Add{% endtrans %}</span></a></li>
                        </ul>
                    </li>
                    <li class="sidebar-item">
                        <a href="#generalEntity" data-toggle="collapse" class="sidebar-link collapsed d-flex align-items-center">
                            <i class="material-icons">assignment</i> <span>Entité Géneral</span>
                        </a>
                        <ul id="generalEntity" class="sidebar-dropdown list-unstyled collapse ">
                            <li class="sidebar-item bg-sidebar-item-green"><a class="sidebar-link d-flex align-items-center" href=""><i class="material-icons">redo</i> <span>{% trans %}View{% endtrans %}</span></a></li>
                            <li class="sidebar-item bg-sidebar-item-green"><a class="sidebar-link d-flex align-items-center" href=""><i class="material-icons">add</i> <span>{% trans %}Add{% endtrans %}</span></a></li>
                        </ul>
                    </li>
                    <li class="sidebar-item">
                        <a href="#localEntity" data-toggle="collapse" class="sidebar-link collapsed d-flex align-items-center">
                            <i class="material-icons">assignment</i> <span>Entité Local</span>
                        </a>
                        <ul id="localEntity" class="sidebar-dropdown list-unstyled collapse ">
                            <li class="sidebar-item bg-sidebar-item-green"><a class="sidebar-link d-flex align-items-center" href=""><i class="material-icons">redo</i> <span>{% trans %}View{% endtrans %}</span></a></li>
                            <li class="sidebar-item bg-sidebar-item-green"><a class="sidebar-link d-flex align-items-center" href=""><i class="material-icons">add</i> <span>{% trans %}Add{% endtrans %}</span></a></li>
                        </ul>
                    </li>


                </ul>
                <div class="sidebar-bottom d-none d-lg-block"></div>
            </div>
        </nav>
        <div class="main">
            {% include 'backend/header/header.html.twig' %}
            {% block content %}{% endblock %}
        </div>
    </div>
    {% include 'backend/footer/footer.html.twig' %}
{% endblock %}
{% block javascripts %}{% endblock %}
{% for message in app.flashes('toast-success') %} <div class="toast-alert-success" data-msg="{{ message }}"></div>{% endfor %}
{% for message in app.flashes('toast-error') %} <div class="toast-alert-error" data-msg="{{ message }}"></div>{% endfor %}
</body>
</html>