.wrapper {
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}
.sidebar {

    min-width: 240px;
    max-width: 240px;
    min-height: 100vh;
    transition: margin .4s ease-in-out;
    z-index: 2;
}

.sidebar, .sidebar-content {
    transition: margin-left .4s ease-in-out,left .4s ease-in-out;
    background: #2e3e4e;
}
.sidebar-dropdown .sidebar-item.active .sidebar-link, .sidebar-dropdown .sidebar-link:hover {
    color: #e9ecef;
    background: #263441;
}
.sidebar-nav {
    padding-bottom: 3.5rem;
    padding-left: 0;
    list-style: none;
}
.sidebar-sticky .sidebar-content {
    overflow-y: hidden;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 2;
    width: 240px;
}
.sidebar-link, a.sidebar-link {
    display: block;
    padding: .75rem 1.25rem;
    color: #ced4da;
    background: #2e3e4e;
    transition: background .1s ease-in-out,color .1s ease-in-out;
    position: relative;
    text-decoration: none;
}
.sidebar-link:focus {
    outline: 0;
}

.sidebar-item.active .sidebar-link:hover,.sidebar-item.active>.sidebar-link,.sidebar-link:hover {
    color: #ced4da;
    background: #2d3646;
    text-decoration: none;
}

.sidebar-dropdown .sidebar-link {
    padding-left: 2.5rem;
    color: #adb5bd;
    background: #313b4c;
}

.sidebar-dropdown .sidebar-item.active .sidebar-link,.sidebar-dropdown .sidebar-link:hover {
    color: #e9ecef;
    background: #2d3646;
}
.sidebar-brand {
    font-weight: 500;
    font-size: 1.15rem;
    padding: 1.15rem 1.25rem;
    color: #f8f9fa !important;
    display: block;
}

.sidebar [data-toggle=collapse] {
    position: relative;
}
.sidebar [data-toggle=collapse]:before {
    content: " ";
    border: solid;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 1.2rem;
    right: 1.25rem;
    transition: all .2s ease-out;
}
.sidebar [aria-expanded=true]:before, .sidebar [data-toggle=collapse]:not(.collapsed):before {
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    top: 1.4rem;
}
.sidebar-header {
   /*background: transparent;*/
    color: #adb5bd;
    padding: .375rem 1.25rem;
    font-size: .75rem;
    background: #3b4e61;
}
.sidebar-badge {
    position: absolute;
    right: 15px;
    top: 14px;
}
#nav-sidebar>div>ul>li>a>i.material-icons{
    font-size: 1rem;
    padding-right: 1rem;
}
ul>li >ul li>a > i.material-icons {
    padding-right: 1rem;
    font-size: 1rem;
}
.bg-sidebar-item-blue::before,.bg-sidebar-item-green::before,.bg-sidebar-item-red::before,.bg-sidebar-item-yello::before,.bg-sidebar-item-orange::before {
    content: "";
    display: block;
    width: 3px;
    height: 48px;
    position: absolute;
    z-index: 999;
}
.bg-sidebar-item-blue::before{
    background: #86a0c7;
}
.bg-sidebar-item-green::before{
    background: #86c78e;
}
.bg-sidebar-item-red::before{
    background: #d45252;
}
.bg-sidebar-item-yello::before{
    background: #eadf57;
}
.bg-sidebar-item-orange::before{
    background: #ff8d00;
}
.content {
    padding: 2.5rem;
}
.main {
    width: 100%;
    min-height: 100vh;
    transition: margin-left .4s ease-in-out,left .4s ease-in-out;
}
.card {
    margin-bottom: 2rem;
}
.avatar {
    margin-top: -15px;
    margin-bottom: -15px;
    width: 40px;
    height: 40px;
}
.dropdown .dropdown-menu.show {
    -webkit-animation-name: dropdownAnimation;
    animation-name: dropdownAnimation;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
i#sidebar-drop-right {
    cursor: pointer;
}
.togged{
    margin-left: -240px;
}



@-webkit-keyframes dropdownAnimation {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes dropdownAnimation {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

/* pignos calendar css*/
.pignose-calendar .pignose-calendar-top {
    background-color: #ffffff !important;
    border-bottom: 1px solid #ffffff !important;
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.125) !important;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.125) !important;

}
.pignose-calendar {
    background-color: #ffffff;
    border: 0 !important;
    -webkit-box-shadow:  0 0 0 rgba(0, 0, 0, 0.125) !important;
    box-shadow:  0 0 0 rgba(0, 0, 0, 0.125) !important;
}

/* table*/
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.02) !important;
}
.table th, .table td {
    border: 0 !important;
}
td>a{
    text-decoration: none !important;
}

/* progress bar*/
.progress-sm {
    height: .5rem !important;
}

/* select 2 */
.select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 0.875rem;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #ff4136 !important;
    border: 1px solid #2e3e4e00 !important;
    color: white !important;
    font-size: 0.875rem;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #fff !important;
}

/* PRELOADER CSS*/

body {
    overflow: hidden;
}


/* Preloader */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 99;

}

#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(https://raw.githubusercontent.com/niklausgerber/PreLoadMe/master/img/status.gif);
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;

}

/* DATA TABLE*/
.paginate_button {
    cursor: pointer !important;
    padding: 0 10px;
}
a.paginate_button.current {
    background: #207dda ;
    color: white;
}
a#datatables-dashboard_previous,a#datatables-dashboard_next {
    text-decoration: none;
    margin: 0 10px;
}

/* helpFlied*/
#helpFlied>ul {
    list-style: none;
    padding-inline-start: 10px;
}

/* select2 isvalid */

.was-validated .validator-select2:invalid + .select2 .select2-selection{
    border-color: #dc3545!important;
}
.was-validated .validator-select2:valid + .select2 .select2-selection{
    border-color: #28a745!important;
}
*:focus{
    outline:0px;
}