<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Page d'inscription au stage d'été - Marlagne">
    <meta name="author" content="Gillian Delvigne">

    <title>Inscriptions Marlagne</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('marlagne/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{{ asset('marlagne/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Plugin CSS -->
    <link href="" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="{{ asset('marlagne/css/freelancer.css') }}" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{{ asset('marlagne/img/favicon.png') }}" />

    <script src="{{ asset('marlagne/js/scripts.js') }}"></script>


</head>

<body id="page-top">
{% include 'frontend/header/header.html.twig' %}
{% block body %}

{% endblock %}

{% include 'frontend/footer/footer.html.twig' %}
<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>

<!-- Bootstrap core JavaScript -->
<script src="{{ asset('marlagne/vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('marlagne/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

<!-- Plugin JavaScript -->
<script src="{{ asset('marlagne/vendor/jquery-easing/jquery.easing.min.js') }}"></script>
<script src="{{ asset('marlagne/vendor/magnific-popup/jquery.magnific-popup.min.js') }}"></script>

<!-- Contact Form JavaScript -->
<script src="{{ asset('marlagne/js/jqBootstrapValidation.js') }}"></script>
<script src="{{ asset('marlagne/js/contact_me.js') }}"></script>

<!-- Custom scripts for this template -->
<script src="{{ asset('marlagne/js/freelancer.js') }}"></script>
<script src="{{ asset('marlagne/js/display_entite.js') }}"></script>
</body>

</html>