/*!
 * Start Bootstrap - Freelancer v5.0.3 (https://startbootstrap.com/template-overviews/freelancer)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-freelancer/blob/master/LICENSE)
 */

body {
  font-family: 'Lato', sans-serif;
  color: #3c3c3b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Lato';
}


.scroll-to-top {
  z-index: 1042;
  right: 1rem;
  bottom: 1rem;
  display: none;
}

.scroll-to-top a {
  width: 3rem;
  height: 3rem;
  background-color: rgba(237, 28, 36, 0.7);
  line-height: 3.1rem;
}

#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 700;
  font-family: 'Lato';
  background-color: white !important;
  border-bottom: 5px solid #ed1c24;
  width: 100vw;
}

#menu {
padding: 0;
margin: auto;  
}

#mainNav #logo-crb {
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;  
  min-width: 200px;
  margin-right: 15%;
}

#mainNav .navbar-brand {
  color: #ed1c24;
}

#mainNav .navbar-nav {
  margin-top: 1rem;
  letter-spacing: 0.0625rem;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
  color: #3c3c3b;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #ed1c24;
}

#mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
  color: #3c3c3b;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active {
  color: #ed1c24;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.8rem;
  background-color: #ed1c24 !important;
  margin-top: 5%;
  margin-bottom: 2%;
}

#mainNav .navbar-toggler:hover {
  outline: none;
}

#menu-button {
text-align: center;
}

@media (max-width: 768px) {
.navbar-brand {
text-align: center;
margin: 0;
}
.logo-container {
text-align: center;
margin: 0;
}
#logo-crb {
margin-right: 0 !important;
}


}



@media (min-width: 992px) {
  #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
  }
  #mainNav .navbar-brand {
    font-size: 1.5rem;
    -webkit-transition: font-size 0.3s;
    transition: font-size 0.3s;
  }
  #mainNav .navbar-nav {
    margin-top: 0;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
    color: #fff;
  
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
    color: #fff;
    
  }
  #mainNav.navbar-shrink {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.5rem;
  }
}

header.masthead {
  padding-top: calc(6rem + 72px);
  padding-bottom: 6rem;
}

#background-overlay {
background-image: url(/marlagne/img/marlagne_cover1.jpg);
background-size: cover;
text-align: center;
background-position: 50%;
background-repeat: no-repeat;
height: 500px;
padding: 0;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  background-size: cover;
  height: 500px;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  text-align: center;
}

.block-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

header.masthead h1 {
  font-size: 3rem;
  font-family: 'Lato';
  font-weight: 700;
}

@media screen and (max-width:415px) {
  header.masthead h1 {
    font-size: 2rem;
  }

}

.block-content p {
margin-top: 1rem;
font-size: 1.1rem;
line-height: 1.4em;
font-family: 'Lato';
font-weight: 400 !important;
width: 80%;
margin: auto;
}

.block-content p::before {
  content: '';
  width: 100%;
  margin: 30px auto;
  height: 1px;
  left: 0;
  display: block;
  clear: both;
  background-color: white;
}

.block-content p::after {
  content: '';
  width: 100%;
  margin: 30px auto;
  height: 1px;
  left: 0;
  display: block;
  clear: both;
  background-color: white;
}

header.masthead h2 {
  font-size: 1.3rem;
  font-family: 'Lato';
}

@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(6rem + 106px);
    padding-bottom: 6rem;
  }
  header.masthead h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
  header.masthead h2 {
    font-size: 1.75em;
  }
}

#identification {
  margin-bottom: -15px;
}

@media (min-width: 576px) {
  #identification {
    margin-bottom: -30px;
  }
}

#identification h1 {
color: #ed1c24;
font-weight: 500;
font-size: 2rem;  
}

#identification h4 {
  color: #3c3c3b;
  font-weight: 700;
  font-size: 1.5rem;
  font-variant: small-caps;
  }

 .asterisque {
 font-size: 0.8rem;
 color: #ed1c24;
 vertical-align: top; 
 }
  
#identification input {
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
border: 1px solid rgba(0,0,0,0.2);
border-width: 1px;
border-style: solid;
border-color: rgba(0,0,0,.2);
-ms-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.075);
-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.075);
-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
-webkit-transition: border-color ease-in-out 0.15s,-webkit-box-shadow ease-in-out 0.15s;
-o-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
}

#identification input:focus {
  border-color: #ed1c24;
  outline: 0;
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255, 36, 0, 0.3);
  -ms-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255, 36, 0, 0.3);
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255, 36, 0, 0.3);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255, 36, 0, 0.3);
  }


#identification input:checked::after {
  font-family: "Font Awesome 5 Free";
  content: "\f00c"; 
  font-weight: 900;
  color: white;
  display: inline-block;
  vertical-align: top;
  font-size: 0.6rem;
  line-height: 0.8rem;
  margin-left: 2px;
}
  

#identification .radio-inline, .checkbox-inline {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    min-width: 150px;
  }

  .radio-inline {
    display: inline-block;
  }

  #Gender:focus {
  box-shadow: none !important;
  }
  
  #ContractType:focus {
    box-shadow: none !important;
  }

  input[type='checkbox']{
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 1px solid rgba(0,0,0,0.5) !important;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,.5);
    width: 15px;
    height: 15px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -ms-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.075);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.075);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; 
    vertical-align: inherit;
  }
  input[type='radio']{
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 1px solid rgba(0,0,0,.5) !important;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,.5);
    width: 15px;
    height: 15px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -ms-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.075);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.075);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;  
  }


  input[type='checkbox']::-ms-check {
    display: none; /* unstyle IE checkboxes */
  }


  input[type='radio']::-ms-check {
    display: none; /* unstyle IE checkboxes */
  }

  input[type='radio']:checked {
  background-color: #ed1c24; 
  border: 1px solid #ed1c24 !important; 
  }

  input[type='checkbox']:checked {
    background-color: #ed1c24;  
    border: 1px solid #ed1c24 !important;
    }

  input::placeholder {
  font-size: 0.7rem;
  }

select {
-webkit-appearance: none;
-moz-appearance: none;
-o-appearance: none;
appearance: none;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
font-size: 1rem;
padding: 7px 20px;    
border: 1px solid rgba(0,0,0,0.1);
max-width: 300px;
}

@media screen and (max-width:500px)
{
select { margin:auto; margin-top: 2%;}
}


select::-ms-expand {
  display: none; /* hiding IE11 arrow */
}


  select:focus {
    border-color: #ed1c24;
    outline: 0;
    box-shadow: none;
  }

.label-entity {
margin-bottom: 0;
margin-top: 0.5rem;
}



#formation {
margin: 5%;
padding:2%;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}

#formation .container {
background-color:#efefef;
}

.formation-list {
margin-left: 5%;
}


#formation h1, #catering h1, #engagement h1 {
  color: #ed1c24;
  font-weight: 500;
  font-size: 2rem;  
  }
  
#formation h4 {
    color: #3c3c3b;
    font-weight: 700;
    font-size: 1.5rem;
    font-variant: small-caps;
    }

#formation td {
max-width: 500px;
    }


#formation input[type='checkbox']{
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  background-color: white;
  border: 1px solid rgba(0,0,0,.1);
  width: 15px;
  height: 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; 
}

#formation input:focus {
  border-color: none;
  outline: 0;
  }

  #formation input[type='checkbox']:checked {
    background-color: #ed1c24;  
    }


    #formation input[type='checkbox']:checked::after { 
      font-family: "Font Awesome 5 Free";
      content: "\f00c"; 
      font-weight: 900;
      color: white;
      display: inline-block;
      vertical-align: top;
      font-size: 0.6rem;
      line-height: 0.8rem;
      margin-left: 2px;
      
    } /* checked icon */

.column1 {
 max-width: 500px; 
 font-size: 0.9rem;
}

.column2 {
min-width: 300px;
font-size: 0.9rem;
}

.column3 {
min-width: 50px;
font-size: 0.9rem; 
}

@media (max-width: 592px) {
.column1{min-width: 0; max-width: 100px;}
.column2{ min-width: 0; max-width: 55px;}
.column3{min-width:0;}
#formation {
margin-left: 0;
margin-right: 0;
}
#formation td {
max-width: 190px;
}

}


.table_body {
display: none; }

.show-hide {
  border-radius: 3px;
  background: #ed1c24!important;
  border: none!important;
  color: #fff!important;
  padding: 4px 20px;
  margin-bottom: 20px;
  font-size: 0.8rem;
  font-variant: small-caps;
  font-family: 'Lato', sans-serif;
  cursor: pointer;

}

.show-hide:focus {
outline: none !important;  
border: none !important;
box-shadow: none !important;
}

.show-hide:active {
  outline: none !important;  
  border: none !important;
  box-shadow: none !important;
  }
  
  .card {
      position: relative;
      background-color: #ed1c24;
      border-radius: 3px;
      border:none;
      box-shadow: -1px 2px 4px rgba(0,0,0,.25), 1px 1px 3px rgba(0,0,0,.1);
      margin: 0;
      margin-bottom: 15%;
  }
  
  .card-media {
    height: 6vh;
    line-height: 6vh;
    text-align: center;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    color: white;
    vertical-align: middle; 
    margin: auto;
  }
  
  .card-details {
    background-color: #fff;
    padding: 5px 15px;
    vertical-align: middle;
    padding: 10%;
    font-size: 0.8rem;
  }
  
  .card-head {
    font-weight: 400;
  }
  
  .card-head {
    font-size: 26px;
    margin-bottom: 15px;
  }

#catering label {
  font-size: 1rem;
}

  #catering input {
    background-color: white;
  }

  #catering input:checked {
    background-color: #ed1c24;
  }

  #catering input:checked::after { 
    font-family: "Font Awesome 5 Free";
    content: "\f00c"; 
    font-weight: 900;
    color: white;
    display: inline-block;
    vertical-align: top;
    font-size: 0.6rem;
    line-height: 0.8rem;
    margin-left: 2px;
  
  } /* checked icon */

  #catering input:focus {
    border-color: none;
    outline: 0;
    }


#catering .date {
  width: 22px;
  height: 22px;
  box-shadow: none;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#catering .date:checked {
  background-color: #3c3c3b;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-family: "Font Awesome 5 Free";
  color: white; 
}

#catering .date:checked::after { 
  font-family: "Font Awesome 5 Free";
  content: "\f00c"; 
  font-weight: 900;
  display: inline-block;
  vertical-align: top;
  margin-left: 2px;
  font-size: 1.2rem;
  line-height: 1rem;

} /* checked icon */
  
  #final_options {
    background-color:#efefef;
    padding: 3%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    }

  .control-label {
  width: 40px;
  height: 1.5rem;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.2);
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0,0,0,.2);
  -ms-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.075);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.075);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out 0.15s,-webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
  }

  .remarque {
  font-size: 0.8rem;
  color:#ed1c24;
  }

textarea {
resize: none;
outline: none;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
border: 1px solid rgba(0,0,0,0.2);
border-width: 1px;
border-style: solid;
border-color: rgba(0,0,0,.2);
-ms-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.075);
-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.075);
-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
-webkit-transition: border-color ease-in-out 0.15s,-webkit-box-shadow ease-in-out 0.15s;
-o-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
font-size: 0.8rem;
padding:20px;
max-width: 95%;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

#engagement {
  margin: 4%;
}

#engagement .container {
  border: 3px solid #ed1c24;
  -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
padding: 2%;  
}

#engagement a {
  color: #ed1c24; 
  text-decoration: none;  
}

#engagement input {
width: 20px;
height: 20px;
vertical-align: text-bottom; 
}

#engagement input:focus {
  border-color: #ed1c24;
  outline: 0;
  box-shadow: none;
}

#engagement input:checked::after {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    color: white; 
    font-weight: 900;
    display: inline-block;
    vertical-align: top;
    margin-left: 2px;
    font-size: 1.2rem;
    line-height: 1rem;
  
  } /* checked icon */



#approved {
font-size:1.3rem;
font-style: italic;
}

#submitButton {
background-color: #ed1c24;
border: 1px solid #ed1c24;
}

#submitButton:focus {
  outline: none;
  }

  #submitButton:active {
    outline: none;
    }

#engagement .disabled {
pointer-events: none;
}

.footer {
  padding: 5rem 15%;
  background-color: #1a1a1a;
  color: #999;
  font-size: 0.7rem;
  text-align: justify;
  margin: auto;
}

.footer h6 {
text-transform: uppercase;
}

@media screen and (max-width: 602px) {
  .footer h6 {
  font-size: 0.7rem;
}
}

.footer a {
 color: #ed1c24; 
 text-decoration: none;
}

.copyright {
  background-color: #3c3c3b;;
}


