<!-- Navigation -->
<nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
    <div class="container" id="menu">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 logo-container">
            <a href="https://www.croix-rouge.be" id="logo-crb">
                <img src="{{ asset('marlagne/img/crb-logo.svg') }}" alt="Croix-Rouge de Belgique">
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 navbar-brand js-scroll-trigger">Inscriptions Marlagne
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" id="menu-button">
            <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button"
                    data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                    aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="index.html">Participant.e.s</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                           href="formateurs.html">Formateur.rice.s/Staff</a>
                    </li>
                </ul>
            </div>
        </div>
</nav>

<!-- Header -->
<header class="masthead text-white text-center">
    <div class="container" id="background-overlay">
        <div class="overlay">
            <div class="block-content">
                <h1 class="text-uppercase mb-0">Participant.e.s</h1>
                <p>Ce formulaire est réservé à l'inscription des participant.e.s. <br />
                    Un autre formulaire est disponible via le menu pour les formateur.rice.s et les membres du staff.</p>
            </div>
        </div>
    </div>
</header>