{%  extends "backend/base.html.twig" %}
{% block head_css %}
    {{ encore_entry_link_tags('adminUserEdit') }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('adminUserEdit') }}
    <script src="https://cloud.tinymce.com/5/tinymce.min.js?apiKey=9w9sv9hcvb31fywdplrt434yvskndi37ml2f0voo9jf3u8k5"></script>
    <script>
        tinymce.init({
            selector: '#allergies,#anecdote'
        });
    </script>
{% endblock %}
{% block content %}
    <main class="content">
        <h1 class="h3 mb-3">Settings</h1>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-3">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title mb-0">{% trans %}Profile Settings{% endtrans %}</h5>
                    </div>
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active rounded-0" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-home" aria-selected="true">{% trans %}Profile{% endtrans %}</a>
                        <a class="nav-link rounded-0" id="v-pills-formations-tab" data-toggle="pill" href="#v-pills-formations" role="tab" aria-controls="v-pills-messages" aria-selected="false">{% trans %}Formations{% endtrans %}</a>
                        <a class="nav-link rounded-0" id="v-pills-reservation-tab" data-toggle="pill" href="#v-pills-reservation" role="tab" aria-controls="v-pills-settings" aria-selected="false">{% trans %}Réservation{% endtrans %}</a>
                        <a class="nav-link rounded-0" id="v-pills-barbecue-tab" data-toggle="pill" href="#v-pills-barbecue" role="tab" aria-controls="v-pills-profile" aria-selected="false">{% trans %}Barbecue{% endtrans %}</a>
                        <a class="nav-link rounded-0" id="v-pills-password-tab" data-toggle="pill" href="#v-pills-password" role="tab" aria-controls="v-pills-profile" aria-selected="false">{% trans %}Password{% endtrans %}</a>
                    </div>

                </div>


            </div>
            <div class="col-sm-12 col-md-12 col-lg-9">

                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        <div class="tab-pane fade active show" id="account" role="tabpanel">

                            <div class="card">
                                <div class="card-header">
                                    <div class="card-actions float-right">
                                        <div class="dropdown show">
                                            <a href="#" data-toggle="dropdown" data-display="static">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal align-middle"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                                            </a>

                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="#"  data-toggle="modal" data-target="#AvatarModal">Cropper</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                            </div>
                                        </div>
                                    </div>
                                    <h5 class="card-title mb-0">{% trans %}Public info{% endtrans %}</h5>
                                </div>
                                <div class="card-body">
                                    {{ form_start(userInfoPublicForm, {'attr': {novalidate:'novalidate','class':'needs-validation','id': 'userPublicForm'},'action': path('admin_user_edit', { 'id': user.id }), 'method': 'POST'}) }}
                                    <div class="form-row">
                                        <div class="col-12 col-md-12 text-center">
                                            <div id="bodyImageAvatar">
                                                <img  src="{{ asset( 'avatar/default_avatar.jpg') }}" id ="uploadAvatar" class="shadow-lg mx-auto d-block rounded-circle img-responsive mt-2" width="100" height="100">
                                                <div id="UploadAvatarIcon" class="d-flex justify-content-center">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-5">
                                            {{ form_label(userInfoPublicForm.firstName, 'First name'|trans, {'label_attr': {'class': 'col-form-label col-form-label-sm'}}) }}
                                            {{ form_widget(userInfoPublicForm.firstName,{'attr':{'placeholder':user.firstName,'class': 'form-control form-control-sm'}}) }}
                                            <div class="valid-feedback">
                                                {% trans %}Valid field{% endtrans %}
                                            </div>
                                            <div class="invalid-feedback">
                                                {{ form_errors(userInfoPublicForm.firstName) }}
                                                {{ form_errors(userInfoPublicForm.firstName)?'':'Please provide a valid first name'|trans }}
                                            </div>
                                        </div>
                                        <div class="form-group col-md-5">
                                            {{ form_label(userInfoPublicForm.lastName, 'First name'|trans, {'label_attr': {'class': 'col-form-label col-form-label-sm'}}) }}
                                            {{ form_widget(userInfoPublicForm.lastName,{'placeholder':user.lastName,'attr':{'class': 'form-control form-control-sm'}}) }}
                                            <div class="valid-feedback">
                                                {% trans %}Valid field{% endtrans %}
                                            </div>
                                            <div class="invalid-feedback">
                                                {{ form_errors(userInfoPublicForm.lastName) }}
                                                {{ form_errors(userInfoPublicForm.lastName)?'':'Please provide a valid first name'|trans }}
                                            </div>
                                        </div>
                                        <div class="form-group col-md-2">
                                            {{ form_label(userInfoPublicForm.gender, 'Gender'|trans, {'label_attr': {'class': 'col-form-label col-form-label-sm '}}) }}
                                            {{ form_widget(userInfoPublicForm.gender,{'attr':{'class': 'form-control form-control-sm'}}) }}
                                            <div class="valid-feedback">
                                                {% trans %}Valid field{% endtrans %}
                                            </div>
                                            <div class="invalid-feedback">
                                                {{ form_errors(userInfoPublicForm.gender) }}
                                                {{ form_errors(userInfoPublicForm.gender)?'':'Please provide a valid gender'|trans }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            {{ form_label(userInfoPublicForm.email, 'Email', {'label_attr': {'class': 'col-form-label col-form-label-sm'}}) }}
                                            {{ form_widget(userInfoPublicForm.email,{'placeholder':user.email,'attr':{'class': 'form-control form-control-sm'}}) }}
                                            <div class="valid-feedback">
                                                {% trans %}Valid field{% endtrans %}
                                            </div>
                                            <div class="invalid-feedback">
                                                {{ form_errors(userInfoPublicForm.email) }}
                                                {{ form_errors(userInfoPublicForm.email)?'':'Please provide a valid email'|trans }}
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            {{ form_label(userInfoPublicForm.roles, 'Role'|trans, {'label_attr': {'class': 'col-form-label col-form-label-sm validator-select2'}}) }}
                                            {{ form_widget(userInfoPublicForm.roles,{'attr':{'class': 'form-control form-control-sm'}}) }}
                                            <div class="valid-feedback">
                                                {% trans %}Valid field{% endtrans %}
                                            </div>
                                            <div class="invalid-feedback">
                                                {{ form_errors(userInfoPublicForm.roles) }}
                                                {{ form_errors(userInfoPublicForm.roles)?'':'Please provide a valid role'|trans }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">

                                        <div class="form-group col-md-6">
                                            {{ form_label(userInfoPublicForm.phone, 'Phone number'|trans, {'label_attr': {'class': 'col-form-label col-form-label-sm'}}) }}
                                            {{ form_widget(userInfoPublicForm.phone,{'attr':{'placeholder':user.phone?user.phone:'No data for this field','class': 'form-control form-control-sm'}}) }}
                                            <div class="valid-feedback">
                                                {% trans %}Valid field{% endtrans %}
                                            </div>
                                            <div class="invalid-feedback">
                                                {{ form_errors(userInfoPublicForm.phone) }}
                                                {{ form_errors(userInfoPublicForm.phone)?'':'Please provide a valid phone number'|trans }}
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            {{ form_label(userInfoPublicForm.birthDate, 'Birth date'|trans, {'label_attr': {'class': 'col-form-label col-form-label-sm'}}) }}
                                            {{ form_widget(userInfoPublicForm.birthDate,{'attr':{'placeholder':user.birthDate?user.birthDate|date('d/m/Y') :'No data for this field','class': 'form-control form-control-sm'}}) }}
                                            <div class="valid-feedback">
                                                {% trans %}Valid field{% endtrans %}
                                            </div>
                                            <div class="invalid-feedback">
                                                {{ form_errors(userInfoPublicForm.birthDate) }}
                                                {{ form_errors(userInfoPublicForm.birthDate)?'':'Please provide a birth date'|trans }}
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            {{ user.localEntity?user.localEntity.generalEntity.name:'' }}
                                            {{ form_label(userInfoPublicForm.GeneralEntity, 'generalEntity'|trans, {'label_attr': {'class': 'col-form-label col-form-label-sm'}}) }}
                                            {{ form_widget(userInfoPublicForm.GeneralEntity,{'value': user.localEntity?user.localEntity.generalEntity.name:'','id':'GeneralEntity','attr':{'class': 'form-control form-control-sm'}}) }}
                                            <div class="valid-feedback">
                                                {% trans %}Valid field{% endtrans %}
                                            </div>
                                            <div class="invalid-feedback">
                                                {{ form_errors(userInfoPublicForm.GeneralEntity) }}
                                                {{ form_errors(userInfoPublicForm.GeneralEntity)?'':'Please provide a valid local entity'|trans }}
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">

                                            {{ form_label(userInfoPublicForm.LocalEntity, 'localEntity'|trans, {'label_attr': {'class': 'col-form-label col-form-label-sm'}}) }}
                                            {{ form_widget(userInfoPublicForm.LocalEntity,{'value': user.localEntity,'id':'LocalEntity','attr':{'class': 'form-control form-control-sm'}}) }}
                                            <div class="valid-feedback">
                                                {% trans %}Valid field{% endtrans %}
                                            </div>
                                            <div class="invalid-feedback">
                                                {{ form_errors(userInfoPublicForm.LocalEntity) }}
                                                {{ form_errors(userInfoPublicForm.LocalEntity)?'':'Please provide a valid localEntity'|trans }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            {{ form_label(userInfoPublicForm.anecdote, 'anecdote'|trans, {'label_attr': {'class': 'col-form-label col-form-label-sm'}}) }}
                                            {{ form_widget(userInfoPublicForm.anecdote,{'id':'anecdote','attr':{'class': 'form-control form-control-sm'}}) }}
                                            <div class="valid-feedback">
                                                {% trans %}Valid field{% endtrans %}
                                            </div>
                                            <div class="invalid-feedback">
                                                {{ form_errors(userInfoPublicForm.anecdote) }}
                                                {{ form_errors(userInfoPublicForm.anecdote)?'':'Please provide a valid anecdote'|trans }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row pt-3">
                                        <div class="d-none" id="value-general">{{  user.LocalEntity?user.LocalEntity.GeneralEntity.name:'' }}</div>
                                        <div  class="d-none" id="value-local">{{ user.LocalEntity?user.LocalEntity.name:'' }}</div>
                                        <div  class="d-none" id="id-user">{{ user.id }}</div>
                                        {{ form_widget(userInfoPublicForm.submit, { 'label': 'Save Changes'|trans,'attr':{'class': 'btn btn-sm btn-primary col-12'} }) }}
                                    </div>
                                    {{ form_end(userInfoPublicForm) }}

                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-password" role="tabpanel" aria-labelledby="v-pills-password-tab">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title mb-0">{% trans %}Password setting{% endtrans %}</h5>
                            </div>
                            <div class="card-body">
                                {{ form_start(userPasswordForm, {'attr': {novalidate:'novalidate','class':'needs-validation','id': 'userPasswordForm'},'action': path('admin_user_edit', { 'id': user.id }), 'method': 'POST'}) }}
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        {{ form_label(userPasswordForm.plainPassword.first, 'Password'|trans, {'label_attr': {'class': 'col-form-label col-form-label-sm'}}) }}
                                        {{ form_widget(userPasswordForm.plainPassword.first,{'attr':{'class': 'form-control form-control-sm'}}) }}
                                        <span class="text-danger">{{ form_errors(userPasswordForm.plainPassword.first) }}</span>
                                        <div class="valid-feedback">
                                            {% trans %}Valid field{% endtrans %}
                                        </div>
                                        <div class="invalid-feedback">
                                            {{ form_errors(userPasswordForm.plainPassword.first)?'':'Please provide a valid password'|trans }}
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        {{ form_label(userPasswordForm.plainPassword.second, 'Password confirmation'|trans, {'label_attr': {'class': 'col-form-label col-form-label-sm'}}) }}
                                        {{ form_widget(userPasswordForm.plainPassword.second,{'attr':{'class': 'form-control form-control-sm'}}) }}
                                        <div class="valid-feedback">
                                            {% trans %}Valid field{% endtrans %}
                                        </div>
                                        <div class="invalid-feedback">
                                            {{ form_errors(userPasswordForm.plainPassword.second) }}
                                            {{ form_errors(userPasswordForm.plainPassword.second)?'':'Please confirm you password'|trans }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row pt-3">
                                    {{ form_widget(userPasswordForm.save, { 'label': 'Save Changes'|trans,'attr':{'class': 'btn btn-sm btn-primary col-12'} }) }}
                                </div>
                                {{ form_end(userPasswordForm) }}
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-formations" role="tabpanel" aria-labelledby="v-pills-formations-tab">

                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title mb-0">{% trans %}Formations setting{% endtrans %}</h5>
                            </div>
                            <div class="card-body">
                                {{ form_start(form_formationLigne, {'attr': {novalidate:'novalidate','class':'needs-validation','id': 'FormationLigneForm'},'action': path('admin_user_edit', { 'id': user.id }), 'method': 'POST'}) }}
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        {{ form_label(form_formationLigne.FormationType, 'FormationType'|trans, {'label_attr': {'class': 'col-form-label col-form-label-sm'}}) }}
                                        {{ form_widget(form_formationLigne.FormationType,{'id':'FormationType','attr':{'class': 'form-control form-control-sm'}}) }}
                                        <span class="text-danger">{{ form_errors(form_formationLigne.FormationType) }}</span>
                                        <div class="valid-feedback">
                                            {% trans %}Valid field{% endtrans %}
                                        </div>
                                        <div class="invalid-feedback">
                                            {{ form_errors(form_formationLigne.FormationType)?'':'Please provide a valid password'|trans }}
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                            {{ form_label(form_formationLigne.Formation, 'Formations'|trans, {'label_attr': {'class': 'col-form-label col-form-label-sm'}}) }}
                                            {{ form_widget(form_formationLigne.Formation,{'id':'Formation','attr':{'class': 'form-control form-control-sm'}}) }}
                                            <span class="text-danger">{{ form_errors(form_formationLigne.Formation) }}</span>
                                            <div class="valid-feedback">
                                                {% trans %}Valid field{% endtrans %}
                                            </div>
                                            <div class="invalid-feedback">
                                                {{ form_errors(form_formationLigne.Formation)?'':'Please provide a valid password'|trans }}
                                            </div>
                                    </div>
                                </div>

                                <div class="form-row pt-3">
                                    {{ form_widget(form_formationLigne.submit, { 'label': 'Save Changes'|trans,'attr':{'class': 'btn btn-sm btn-primary col-12'} }) }}
                                </div>
                                {{ form_end(form_formationLigne) }}
                                <div id="add_field" class="pt-3"></div>
                                {% for formationLigne  in ListformationLigne %}
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label class="col-form-label col-form-label-sm required" for="FormationType">FormationType</label>
                                            <input type="text" name="user[FormationType]" required="required" maxlength="255" value="{{ formationLigne.Formation.FormationType.name }}" class="form-control form-control-sm" disabled="disabled" >
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="col-form-label col-form-label-sm required" for="Formation">Formation</label>
                                            <input type="text"  name="user[Formation]" required="required" maxlength="255" value="{{ formationLigne.Formation.name }}" class="form-control form-control-sm" disabled="disabled" >
                                        </div>
                                        <div class="row col-12 justify-content-center pt-3">

                                            <a href="{{  path('admin_formation_Ligne_delete', { 'user_id': formationLigne.User.id,'formation_id':formationLigne.Formation.id }) }}" id="foramtion_line_delete" class="btn btn-sm btn-danger col-12 col-lg-3">Supprimer</a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-reservation" role="tabpanel" aria-labelledby="v-pills-reservation-tab">

                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title mb-0">{% trans %}Reservation setting{% endtrans %}</h5>
                            </div>
                            <div class="card-body">

                                {{ form_start(form_reservation, {'attr': {novalidate:'novalidate','class':'needs-validation','id': 'reservationForm'},'action': path('admin_user_edit', { 'id': user.id }), 'method': 'POST'}) }}
                                <div class="form-row">
                                    <div class="form-group col-md-3">
                                        {{ form_label(form_reservation.Calendar, 'Date'|trans, {'label_attr': {'class': 'col-form-label col-form-label-sm'}}) }}
                                        {{ form_widget(form_reservation.Calendar,{'id':'Calendar','attr':{'class': 'form-control form-control-sm'}}) }}
                                        <span class="text-danger">{{ form_errors(form_reservation.Calendar) }}</span>
                                        <div class="valid-feedback">
                                            {% trans %}Valid field{% endtrans %}
                                        </div>
                                        <div class="invalid-feedback">
                                            {{ form_errors(form_reservation.Calendar)?'':'Please provide a valid date'|trans }}
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3">
                                        {{ form_label(form_reservation.dinner, 'dinner'|trans, {'label_attr': {'class': 'col-form-label col-form-label-sm'}}) }}
                                        {{ form_widget(form_reservation.dinner,{'id':'dinner','attr':{'class': 'form-control form-control-sm'}}) }}
                                        <span class="text-danger">{{ form_errors(form_reservation.dinner) }}</span>
                                        <div class="valid-feedback">
                                            {% trans %}Valid field{% endtrans %}
                                        </div>
                                        <div class="invalid-feedback">
                                            {{ form_errors(form_reservation.dinner)?'':'Please provide a valid dinner'|trans }}
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3">
                                        {{ form_label(form_reservation.supper, 'soupper'|trans, {'label_attr': {'class': 'col-form-label col-form-label-sm'}}) }}
                                        {{ form_widget(form_reservation.supper,{'id':'supper','attr':{'class': 'form-control form-control-sm'}}) }}
                                        <span class="text-danger">{{ form_errors(form_reservation.supper) }}</span>
                                        <div class="valid-feedback">
                                            {% trans %}Valid field{% endtrans %}
                                        </div>
                                        <div class="invalid-feedback">
                                            {{ form_errors(form_reservation.supper)?'':'Please provide a valid supper'|trans }}
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3">
                                        {{ form_label(form_reservation.logement, 'logmeent'|trans, {'label_attr': {'class': 'col-form-label col-form-label-sm'}}) }}
                                        {{ form_widget(form_reservation.logement,{'id':'logement','attr':{'class': 'form-control form-control-sm'}}) }}
                                        <span class="text-danger">{{ form_errors(form_reservation.logement) }}</span>
                                        <div class="valid-feedback">
                                            {% trans %}Valid field{% endtrans %}
                                        </div>
                                        <div class="invalid-feedback">
                                            {{ form_errors(form_reservation.logement)?'':'Please provide a valid logment'|trans }}
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row pt-3">
                                    {{ form_widget(form_reservation.submit, { 'label': 'Save Changes'|trans,'attr':{'class': 'btn btn-sm btn-primary col-12'} }) }}
                                </div>
                                {{ form_end(form_reservation) }}
                                <div id="add_field_reservation" class="pt-3"></div>
                                {% for reservation  in Listreservation %}
                                    <div class="form-row">
                                        <div class="form-group col-md-3">
                                            <label class="col-form-label col-form-label-sm required" for="FormationType">Date</label>
                                            <input type="text"  name="user[FormationType]" required="required" maxlength="255" value="{{ reservation.Calendar.date|date('d/m/Y') }}" class="form-control form-control-sm" disabled="disabled" >
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label class="col-form-label col-form-label-sm required" for="Formation">Dinner</label>
                                            <input type="text"  name="user[Formation]" required="required" maxlength="255" value="{{ reservation.dinner }}" class="form-control form-control-sm" disabled="disabled" >
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label class="col-form-label col-form-label-sm required" for="Formation">Supper</label>
                                            <input type="text" name="user[Formation]" required="required" maxlength="255" value="{{ reservation.supper }}" class="form-control form-control-sm" disabled="disabled" >
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label class="col-form-label col-form-label-sm required" for="Formation">Logement</label>
                                            <input type="text" name="user[Formation]" required="required" maxlength="255" value="{{ reservation.logement }}" class="form-control form-control-sm" disabled="disabled" >
                                        </div>
                                        <div class="row col-12 justify-content-center pt-3">
                                            <a href="/admin/quotation/143/admin_quotation_description_delete" id="quotation_description_delete" class="btn btn-sm btn-danger col-12 col-lg-3">Supprimer</a>
                                        </div>
                                    </div>
                                {% endfor %}

                            </div>

                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-barbecue" role="tabpanel" aria-labelledby="v-pills-barbecue-tab">

                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title mb-0">{% trans %}Barbecue setting{% endtrans %}</h5>
                            </div>
                            <div class="card-body">

                                {{ form_start(form_barbecue, {'attr': {novalidate:'novalidate','class':'needs-validation','id': 'barbecueForm'},'action': path('admin_user_edit', { 'id': user.id }), 'method': 'POST'}) }}
                                <div class="form-row">
                                    <div class="form-group col-md-4">

                                        {{ form_label(form_barbecue.participation, 'Participation'|trans, {'label_attr': {'class': 'col-form-label col-form-label-sm'}}) }}
                                        {{ form_widget(form_barbecue.participation,{'value': user.barbecue?user.barbecue.participation:'','id':'participation','attr':{'class': 'form-control form-control-sm'}}) }}
                                        <span class="text-danger">{{ form_errors(form_barbecue.participation) }}</span>
                                        <div class="valid-feedback">
                                            {% trans %}Valid field{% endtrans %}
                                        </div>
                                        <div class="invalid-feedback">
                                            {{ form_errors(form_barbecue.participation)?'':'Please choose'|trans }}
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        {{ form_label(form_barbecue.numberOfPeople, 'numberOfPeople'|trans, {'label_attr': {'class': 'col-form-label col-form-label-sm'}}) }}
                                        {{ form_widget(form_barbecue.numberOfPeople,{'value': user.barbecue?user.barbecue.numberOfPeople:'','id':'numberOfPeople','attr':{'class': 'form-control form-control-sm'}}) }}
                                        <span class="text-danger">{{ form_errors(form_barbecue.numberOfPeople) }}</span>
                                        <div class="valid-feedback">
                                            {% trans %}Valid field{% endtrans %}
                                        </div>
                                        <div class="invalid-feedback">
                                            {{ form_errors(form_barbecue.numberOfPeople)?'':'Please provide a valid numberOfPeople'|trans }}
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        {{ form_label(form_barbecue.diet, 'Diet'|trans, {'label_attr': {'class': 'col-form-label col-form-label-sm'}}) }}
                                        {{ form_widget(form_barbecue.diet,{'value': user.barbecue?user.barbecue.diet:'','id':'diet','attr':{'class': 'form-control form-control-sm'}}) }}
                                        <span class="text-danger">{{ form_errors(form_barbecue.diet) }}</span>
                                        <div class="valid-feedback">
                                            {% trans %}Valid field{% endtrans %}
                                        </div>
                                        <div class="invalid-feedback">
                                            {{ form_errors(form_barbecue.diet)?'':'Please choose'|trans }}
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        {{ form_label(form_barbecue.allergies, 'Allergies'|trans, {'label_attr': {'class': 'col-form-label col-form-label-sm'}}) }}
                                        {{ form_widget(form_barbecue.allergies,{'value': user.barbecue?user.barbecue.allergies:'','id':'allergies','attr':{'class': 'form-control form-control-sm'}}) }}
                                        <span class="text-danger">{{ form_errors(form_barbecue.allergies) }}</span>
                                        <div class="valid-feedback">
                                            {% trans %}Valid field{% endtrans %}
                                        </div>
                                        <div class="invalid-feedback">
                                            {{ form_errors(form_barbecue.allergies)?'':'Please provide a valid allergies'|trans }}
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row pt-3">
                                    {{ form_widget(form_barbecue.submit, { 'label': 'Save Changes'|trans,'attr':{'class': 'btn btn-sm btn-primary col-12'} }) }}
                                </div>
                                {{ form_end(form_barbecue) }}
                                <div id="add_field_reservation" class="pt-3"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}


